@using System.Web.Mvc;
@model RecepcionFacturas.Models.Prueba
@{
    ViewBag.Title = "Subida de Archivos";
    var facturas = ViewBag.Facturas as IEnumerable<RecepcionFacturas.Models.Prueba>;
}
<h2>Subir Archivos PDF</h2>
@if (!string.IsNullOrEmpty(ViewBag.Mensaje))
{
    <p>@ViewBag.Mensaje</p>
}
@using (Html.BeginForm("SubidaArchivos", "Form", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-group">
        @Html.LabelFor(m => m.ArchivoFactura)
        <input type="file" name="ArchivoFactura" accept=".pdf" />
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ArchivoOrden)
        <input type="file" name="ArchivoOrden" accept=".pdf" />
    </div>
    <button type="submit" class="btn btn-primary">Subir Archivos</button>
}
<h3>Archivos Subidos</h3>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Número de Factura</th>
            
            
            @*Para descargar Orden y factura (Encabezados)
            <th>Factura</th>
            <th>Orden de compra</th>*@

            <th>Fusionado</th>
        </tr>
    </thead>
    <tbody>
        @if (facturas != null)
        {
            foreach (var factura in facturas)
            {
                <tr>
                    <td>@factura.IdFactura</td>
                    <td>@factura.NumeroFactura</td>


                    @*Para descargar Orden y Factura independientemente (Solo 1 a la vez )
                    <td>
                        @Html.ActionLink("Descargar", "DescargarFactura", new { id = factura.IdFactura, numeroFactura = factura.NumeroFactura }, new { @class = "btn btn-success" }) - @factura.NumeroFactura
                    </td>
                    <td>
                        @Html.ActionLink("Descargar", "DescargarOrden", new { id = factura.IdFactura }, new { @class = "btn btn-success" }) - Orden de Compra
                    </td>*@
                    
                    <td>
                        @using (Html.BeginForm("DescargarSeleccionados", "Form", FormMethod.Post))
                        {
                            <input type="hidden" name="id" value="@factura.IdFactura" />
                            
                            <label><input type="checkbox" name="seleccionarFactura" value="true" /> Factura</label>
                            <label><input type="checkbox" name="seleccionarOrden" value="true" /> Orden de Compra</label>
                            <button type="submit" class="btn btn-success">Descargar Seleccionados</button>
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

@*<html xmlns="http://www.w3.org/1999/xhtml">
    <head id="Head1" runat="server">
        <title>File Upload Example</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <form id="form1" runat="server">
            <div class=" container">
                <br />
                <h1>File Upload Example</h1>
                <br />
                <div class="form-row">
                    <div class="col">
                        <asp:DropDownList id="ddlEmployees" runat="server" CssClass="form-control dropdown">
                            <asp:ListItem value="0">-- Select Employee --</asp:ListItem>
                            <asp:ListItem value="1">Nikunj Satasiya</asp:ListItem>
                            <asp:ListItem value="2">Hiren Dobariya</asp:ListItem>
                            <asp:ListItem value="3">Vivek Ghadiya</asp:ListItem>
                            <asp:ListItem value="3">Shreya Patel</asp:ListItem>
                        </asp:DropDownList>
                    </div>
                    <div class="col">
                        <asp:TextBox ID="txtDocument" runat="server" CssClass="form-control" placeholder="DocumentName"></asp:TextBox>
                    </div>

                </div>
                <h1> aqui va el formulario</h1>
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br /><br />
                <div class=" row">

                    <asp:FileUpload ID="FileUploadEmployees" runat="server" CssClass="btn" />
                </div>
                <br />
                <asp:Button ID="btnUploadFile" runat="server" Text="Upload" CssClass="btn btn-primary" OnClick="btnUploadFile_click" />
                <hr />
                <asp:GridView ID="grdEmployees" runat="server" Width="100%" CssClass="table table-bordered" AutoGenerateColumns="false">
                    <Columns>
                        <asp:BoundField DataField="FileID " Visible="false" HeaderText="FileID " />
                        <asp:BoundField DataField="EmployeeName" HeaderText="EmployeeName" />
                        <asp:BoundField DataField="DocumentName" HeaderText="DocumentName"
     />
                        <asp:BoundField DataField="FileName" HeaderText="FileName" />
                        <asp:BoundField DataField="FileData" HeaderText="FileData" />
                    </Columns>
                </asp:GridView>
            </div>
        </form>
    </body>
    </html>*@











@*<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
              "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

    <html xmlns="http://www.w3.org/1999/xhtml">
    <head runat="server">
        <title>ASP.Net Up & Download Files</title>
        <link href="Styles/Site.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <br /><br /><br /><br />
        <form id="frmDefault" enctype="multipart/form-data" runat="server">
            <div style="width: 400px">
                <div style="clear: both; width: 100%">
                    <input type="file" name="fileInput" />
                    <asp:Button ID="btnUpload" Text="Upload File" runat="server"
                                onclick="btnUpload_Click" />
                </div>
                <div style="margin-top: 5px; clear: both">
                    <asp:GridView ID="gvFiles" CssClass="GridViewStyle"
                                  AutoGenerateColumns="true" runat="server">
                        <FooterStyle CssClass="GridViewFooterStyle" />
                        <RowStyle CssClass="GridViewRowStyle" />
                        <SelectedRowStyle CssClass="GridViewSelectedRowStyle" />
                        <PagerStyle CssClass="GridViewPagerStyle" />
                        <AlternatingRowStyle CssClass="GridViewAlternatingRowStyle" />
                        <HeaderStyle CssClass="GridViewHeaderStyle" />
                        <Columns>
                            <asp:TemplateField>
                                <ItemTemplate>
                                    <asp:HyperLink runat="server"
                                                   NavigateUrl='<%# Eval("ID", "GetFile.aspx?ID={0}") %>'
                                                   Text="Download"></asp:HyperLink>
                                </ItemTemplate>
                            </asp:TemplateField>
                        </Columns>
                    </asp:GridView>
                </div>
            </div>
        </form>
    </body>
    </html>*@
</tbody>
</table>