@using System.Web.Mvc
@model RecepcionFacturas.Models.FacturaViewModel

@{
    ViewBag.Title = "Subir Archivos";
}

<h2>Subir Archivos PDF</h2>
@if (!string.IsNullOrEmpty(ViewBag.Mensaje))
{
    <p>@ViewBag.Mensaje</p>
}

@using (Html.BeginForm("SubirFactura", "Factura", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-group">
        @Html.LabelFor(m => m.NumeroFactura)
        @Html.TextBoxFor(m => m.NumeroFactura, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.FechaEmision)
        @Html.TextBoxFor(m => m.FechaEmision, new { @class = "form-control", type = "date" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.FechaVencimiento)
        @Html.TextBoxFor(m => m.FechaVencimiento, new { @class = "form-control", type = "date" })
    </div>
    @*<div class="form-group">
        @Html.LabelFor(m => m.Moneda)
        @Html.TextBoxFor(m => m.Moneda, new { @class = "form-control" })
    </div>*@
    <div class="form-group">
        @Html.LabelFor(m => m.ImporteTotal)
        @Html.TextBoxFor(m => m.ImporteTotal, new { @class = "form-control", type = "number", step = "0.01" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ArchivoFactura)
        <input type="file" name="ArchivoFactura" accept=".pdf" class="form-control" />
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ArchivoOrden)
        <input type="file" name="ArchivoOrden" accept=".pdf" class="form-control" />
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ArchivoActa)
        <input type="file" name="ArchivoActa" accept=".pdf" class="form-control" />
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ArchivoGuia)
        <input type="file" name="ArchivoGuia" accept=".pdf" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Subir Archivos</button>
}
